{% extends "base.html" %}
{% block content %}
<h1><strong>{{list.header}}</strong></h1>

 {% if errors %}
    <div class="alert alert-danger">
      <ul>
        {% for error in errors %}
          <li>{{error}}</li>
        {% endfor %}
      </ul>
    </div>
  {% endif %}
  
<br>
<table class="table table-bordered table-striped">
    {% for listitem in listitems %}
    <tr>
        <td>{{listitem.text}}</td>
        {% if listitem.done == 1 %}
        <td>
            <form method="post" action="{{base_path}}/listitemdone/{{listitem.id}}">
                <button type="submit" class="btn btn-success">Tehty</button>
            </form>
        </td>
        {% else %}
        <td>
            <form method="post" action="{{base_path}}/listitemnotdone/{{listitem.id}}">
                <button type="submit" class="btn btn-danger">Ei tehty</button>
            </form>
        </td>
        {% endif %}
        <td>
            <form method="post" action="{{base_path}}/deletelistitem/{{listitem.id}}">
                <button type="submit" class="btn btn-danger">Poista</button>
            </form>
        </td>
        <td><a class="btn btn-default" href="#">Muokkaa</a></td>
    </tr>
    {% endfor %}
</table>
<br>
<h4>Lisää rivi listalle</h4>
<br>
<form method="post" action="{{base_path}}/list/{{list.id}}">
    <div class="form-group">
        <label>rivi</label>
        <input type="text" class="form-control" name="listitem" value="{{attributes.text}}">
    </div>
    <button type="submit" class="btn btn-primary">Lisää rivi</button>
</form>
{% endblock %}