{% extends "base.html" %}
{% block content %}
<h1><strong>Tervetuloa, {{User.username}}</strong></h1>
<br>
<h4>Tällä sivulla näet kaikki muistiinpanot sekä listat. Klikkaamalla muistiinpanon
tai listan nimeä pääset lukemaan sisältöä. Uusi muistiinpano-nappi luo uuden muistiinpanon
ja uusi lista-nappi luo uuden listan</h4>
<br>
<br>
<a class="btn btn-primary" href="#" role="button">Luo muistiinpano</a>
<br>
<br>
<a class="btn btn-primary" href="#" role="button">Luo lista</a>
<br>
<br>
<h6>Aiemmin luodut muistiinpanot ja listat</h6>
<ul class="list-unstyled">
    {% for note in Notes %}
    <li><a href="#">{{note.header}}</a></li>
    {% endfor %}
    {% for list in Lists %}
    <li><a href="#">{{list.header}}</a></li>
    {% endfor %}
</ul>
{% endblock %}